---
 const personalImageAlt = "Ro LV"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Rocío pero mis amigos me dicen Ro. Ejercí como nutricionista por años, pero he decidido pasarme al mundo de la tecnología. <strong
        >Mi alta capacidad de aprendizaje, mi adaptabilidad y creatividad, me permiten tener muchas herramientas para aportar al equipo.  </strong
      >.
    </p>

    <p>
      Como artista, <strong
        >tengo experiencia en diversas técnicas tradicionales y digitales.<em class="italic">Software & Game Development</em> en Twitch</strong
      >. Mi pasión por la tecnología me lleva a explorar incansablemente nuevos horizontes llenos de desafíos y oportunidades para aprender y crecer.
    </p>
  </div>

  <img width="200" height="200" src="/src/components/icons/profilePhoto.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

--------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>
-->