---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024",
    title: "Desarrolladora web front-end",
    company: "Independiente",
    description:
      "Desarrollo de páginas web únicas",
    link: "pendiente",
  },
  {
    date: "Julio a Diciembre, 2023",
    title: "Desarrolladora web front-end",
    company: "Laboratoria",
    description:
      "Bootcamp intensivo de 6 meses donde el aprendizaje es enfocados a proyectos, simulando un entorno laboral real basado en el auto aprendizaje continuo.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>

