---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2023",
    title: "Desarrolladora web front-end",
    company: "Laboratoria",
    description:
      "Bootcamp intensivo de 6 meses donde el aprendizaje es enfocados a proyectos, simulando un entorno laboral real basado en el auto aprendizaje continuo.",
  },
  {
    date: "2021 a 2023",
    title: "Ilustradora",
    company: "Independiente",
    description:
      "Ilustradora con formación en técnicas tradicionales y digitales. Experiencia en una variedad de estilos pictóricos. Capaz de trabajar en proyectos de cualquier tamaño o complejidad.",
  },
  {
    date: "2020",
    title: "Nutricionista asesora",
    company: "SEREMI de Salud Coquimbo, Chile",
    description:
      "Coordiné y supervisé los planes comunales de promoción de salud, realizando permanente colaboración con autoridades, escuelas, empresas y la comunidad para fomentar hábitos saludables en la región bajo lineamientos ministeriales.",
  },
  {
    date: "2014 a 2017",
    title: "Asesora técnica de calidad",
    company: "Sodexo, Chile",
    description:
      "Revertí una alerta sanitaria con riesgo de cierre en un casino ubicado en sitio remoto, obteniendo un 100% de aprobación tras fiscalización posterior de la autoridad.Revertí una alerta sanitaria con riesgo de cierre en un casino ubicado en sitio remoto, obteniendo un 100% de aprobación tras fiscalización posterior de la autoridad.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
